.cursor-auto {
    cursor: auto !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-none {
    cursor: none;
}

.pointer-events-none {
    pointer-events: none;
}
.overflow-y{
    overflow-y: scroll;
}
.overflow-y-hidden{
    overflow-y: hidden;
}