.tv-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 9%;
  max-width: calc(100vw - 35px);
  margin: 0 auto 9% auto;
  width: 350px;
}

.active-navItem {
  position: relative;
}

.active-navItem::after {
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: #ff0007 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, 0);
}
