@import "../base/colors";

.tv-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 9%;
  max-width: calc(100vw - 35px);
  margin: 0 auto 9% auto;
  width: 350px;
}

.nav-li {
  filter: grayscale(100%);
  opacity: 0.75;
  transition: all 0.6s ease;
}

.active-navItem {
  position: relative;
  filter: none;
  opacity: 1;
}

.active-navItem::after {
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: #ff0007 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, 0);
}

.login {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.sidebar-item {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 15px 0px;
}

.sidebar-content {
  -webkit-overflow-scrolling: touch;
}

.dropdown-content {
  display: none;
  text-align: center;
  padding: 5px 0px;
  background: $dropdownBackColor;
}

.social-media {
  display: flex;
  margin: 46px auto 86px auto;
  justify-content: center;
}

@keyframes active-dropdown {
  0% {
    margin-left: -130%;
  }

  100% {
    margin-left: 0%;
  }
}

.programacion .tv-list {
  margin: 41px auto;
}

.calendar,
.claro-calendar,
.concert-calendar,
.cinema-calendar,
.vision-calendar,
.sports-calendar {
  padding-left: 0;
  margin-bottom: 0;
}

.calendar-active,
.claro-active,
.concert-active,
.cinema-active,
.vision-active,
.sports-active {
  background: $calendarActiveItem;
}

.active-navAvatar {
  position: relative;
  filter: none;
  opacity: 1;
}

.active-navAvatar::after {
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: #ff0007 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: -17%;
  transform: translate(-50%, 0);
}