.tv-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 9%;
  max-width: calc(100vw - 35px);
  margin: 0 auto 9% auto;
  width: 350px;
}

.nav-li {
  filter: grayscale(100%);
  opacity: 0.75;
}

.active-navItem {
  position: relative;
  filter: none;
  opacity: 1;
}

.active-navItem::after {
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: #ff0007 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, 0);
}

.login {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  background: rgba(97, 109, 113, 0.7);
  padding: 5px;
  border-radius: 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  height: 10%;
  width: 80%;
  margin: auto;
  padding: 30px 0px;
}

.sidebar-content {
  -webkit-overflow-scrolling: touch;
}

.dropdown-content {
  display: none;
  text-align: center;
  padding: 5px 0px;
  background: $dropdownBackColor;
}

.social-media {
  display: flex;
  margin: 46px auto 86px auto;
  justify-content: center;
}

@keyframes active-dropdown {
  0% {
    margin-left: -130%;
  }
  100% {
    margin-left: 0%;
  }
}
