.modal-dialog {
  max-width: 750px !important;
}

.modal-favorites-content {
  padding: 6% 0px;
  width: 100%;
  min-width: 300px;
  border-radius: 25px !important;
}

.modal-footer {
  padding: 0 !important;
}
