.modal-dialog-favorites {
  max-width: 750px !important;
}

.modal-favorites-content {
  padding: 6% 0px;
  width: 100%;
  min-width: 300px;
  border-radius: 25px !important;
}

.modal-favorites-footer {
  padding: 0 !important;
}

.modal-program-content {
  border-radius: 20px !important;
  padding: 20px 30px;
}

.modal-body-program {
  padding-bottom: 19px;
}
