@import "../base/colors";

.menu {
  background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.menu-tablet {
  display: none;
}

.nav-content {
  margin: 16px;
  position: relative;
}

.claro-navbar-black {
  background: rgba(255, 255, 255, 0.8);
  padding: 9px 9px 9px 250px !important;
  margin-left: -250px;
  border-radius: 20px;
}

.avatar-header {
  .claro-navbar {
    position: inherit;
  }
}

.claro-navbar {
  display: none;
  margin-top: 25px;
  z-index: 3;
  position: absolute;
  padding: 9px 0px;
}

.marca-header .claro-navbar {
  position: initial;
}

.perfil-header {
  .claro-navbar {
    position: initial;
  }
}

.navbar-white {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.navbar-tablet-white {
  display: none;
}

.navbar-desktop-white {
  display: none;
}

.claro-navbar-black-edi {
  background: rgba(255, 255, 255, 0.8);
  padding: 9px 9px 9px 250px !important;
  margin-left: -250px;
  border-radius: 20px;
}

.menu-desktop-edi {
  position: absolute;
    width: 100%;
    padding: 30px 100px;
    z-index: 2;
}

.nav-content-edi {

  position: relative;

  .navbar-progra-item-container {
    border-radius: 20px;
    background: white;
    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.5);
  }

  .navs-li {
    filter: grayscale(100%);
    opacity: 0.75;
    transition: all 0.6s ease;
    padding: 10px;
  }

  .active-navItems {
    position: relative;
    filter: none;
    opacity: 1;
  }


}

.navbar-progra-item-container {
  border-radius: 20px;
  background: white;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.5);
  
}

.menu-inicial{
  background: $pureBlack;
  position: relative;
  height: 70px;

}

.menu-content{
  position: inherit;
  display: flex;
}