%poster-basic {
  display: flex;
}

.m-first-poster {
  @extend %poster-basic;
  grid-area: firstPoster;
}

.m-second-poster {
  grid-area: secondPoster;
}

.m-third-poster {
  grid-area: thirdPoster;
}

%section-basic {
  width: 100%;
  margin: auto;
  display: grid;
  display: -moz-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@mixin poster-section($firstRow, $secondRow, $columnGap: null, $rowGap: null) {
  @extend %section-basic;
  grid-template-areas:
    $firstRow
    $secondRow;
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
}

.m-claro-poster-section {
  @include poster-section(
    "firstPoster secondPoster",
    "firstPoster thirdPoster",
    10px,
    10px
  );
}

.m-concert-poster-section {
  @include poster-section(
    "firstPoster secondPoster",
    "firstPoster secondPoster",
    10px,
    10px
  );
}

.small-poster {
  height: $heightSecondColumnPoster;
  position: relative;
}

.second-column-image {
  height: 91%;
}
