#next-week-slider {
  padding-bottom: 58px;
  margin-bottom: 32px;
}

.concert-slider {
  padding-bottom: 50px;
}

.concert-container .slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.slick-slider .slick-list {
  padding: 0px 30px 0px 30px !important;
}

.slick-slider {
  width: 100%;
  padding-bottom: 60px;
}

.slick-slider {
  .slick-dots li button:before {
    font-size: 8px;
  }

  .slick-dots {
    position: absolute;
    bottom: 40px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    /* top: 50%; */
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}
.concert-home-slider {
  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    color: white;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-dots li.slick-active button:before {
    color: white;
    opacity: 0.75;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.concert-home-slider {
  padding-bottom: 63px;
}

.slick-track {
  margin-bottom: 16px !important;
  height: 100%;
}

#dontLose-claro-slider {
  padding-bottom: 58px;
  margin-bottom: 52px;
}

#dontLose-claro-slider .slick-dots li.slick-active button:before,
#next-week-slider .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

#dontLose-claro-slider .slick-dots li button:before,
#next-week-slider .slick-dots li button:before {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.concert-header-slider .slick-list {
  padding: 0px !important;
}

.concert-slide {
  height: 205px;
  background: #0d1aa0;
}

.concert-header-slider .slick-dots {
  bottom: 90px;
}

.concert-header-slider .slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.75;
}

.concert-header-slider .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.concert-container .slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.75;
}

.concert-container .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 8px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.concert-slide1 {
  background: url("../../../images/concert-channel/header-image.jpeg");
  background-size: cover;
  height: 205px;
}

.cinema-slider {
  padding-bottom: 50px;
  margin-bottom: 0px !important;
}

.slick-initialized .slick-slide {
  margin: 0 6px;
}

.calendar .slick-slider .slick-list {
  padding: 0px !important;
}

.calendar .slick-initialized .slick-slide {
  margin: 0 2px;
}

.calendar {
  .slick-slider {
    padding-bottom: 0;
    margin-bottom: 52px !important;
  }

  .slick-slider .slick-dots {
    bottom: -26px;
  }
}

.programacion-slider {
  .slick-slide {
    width: 1.32% !important;
    margin: 0 2px;
  }

  .slick-track {
    width: 1000% !important;
  }

  .slick-list {
    padding: 0px !important;
  }
}
