@import "../base/colors";
@import "../base/config";

%rectangle-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
}

@mixin poster-rectangle($background, $width: 100%) {
  @extend %rectangle-basic;
  background: $background;
  width: $width;
}

.a-cinema-rectangle {
  @include poster-rectangle($cinemaRectangle);
}

.a-sports-rectangle {
  @include poster-rectangle($rectangleYellow);
}

.a-concert-rectangle {
  @include poster-rectangle($concertRectangle);
}

.a-claro-rectangle {
  @include poster-rectangle($claroRectangle);
}

.a-vision-rectangle {
  @include poster-rectangle($pinkColor);
}

.a-sports-rectangle {
  @include poster-rectangle($rectangleYellow);
}
.no-gutters {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  position: relative;
}
