@import "../base/colors";
@import "../base/config";

%rectangle-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  //max-height: 32px;
}

@mixin poster-rectangle($background, $width: 100%, $heightRectangle: 20%) {
  @extend %rectangle-basic;
  background: $background;
  width: $width;
  height: $heightRectangle;
}

.a-cinema-rectangle {
  @include poster-rectangle($cinemaRectangle);
}

.a-sports-rectangle {
  @include poster-rectangle($rectangleYellow);
}

.a-concert-rectangle {
  @include poster-rectangle($concertRectangle);
}

.a-claro-rectangle {
  @include poster-rectangle($claroRectangle, 100%, 9%);
}

.a-vision-rectangle {
  @include poster-rectangle($pinkColor, 100%, 9%);
}

.a-sports-rectangle {
  @include poster-rectangle($rectangleYellow);
}
