@import "../base/colors";
@import "../base/config";

%rectangle-basic {
  height: $rectangleHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin poster-rectangle($background, $width: 100%) {
  @extend %rectangle-basic;
  background: $background;
  width: $width;
}

.a-cinema-rectangle {
  @include poster-rectangle($cinemaRectangle);
}

.a-sports-rectangle {
  @include poster-rectangle($rectangleYellow);
}

.a-concert-rectangle {
  @include poster-rectangle($concertRectangle);
}
