@import "../base/colors";
@import "../base/config";

/* Estructura Básica de los botones */
%button-basic {
  color: $textWhite;
  font-size: $fontSizeSub;
  padding: $paddingBtn;
  border-radius: $borderRadiusBtn;
  border: none;
  outline: none !important;
  font-size: 12px;
  font-family: $montserratSemiBold;
}

@mixin more-button($background) {
  @extend %button-basic;
  background: $background;
}

.btn-red {
  @include more-button($redBtn);
}

.btn-blue {
  @include more-button($blueSky);
}

.btn-pink {
  @include more-button($pinkBtn);
}

.btn-purple {
  @include more-button($purpleColor);
}

.invisible-button {
  opacity: 0.2;
  position: fixed;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 0px;
  z-index: 20;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none !important;
}

.login-button {
  width: 288px;
  height: 44px;
  border-radius: 21.5px;
  background-color: $subtitleTV;
  font-family: $montserratSemiBold;
  color: $textWhite;
  font-size: $fontSizeTv;
  border: none;
  outline: none !important;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.singup-button {
  width: 288px;
  height: 44px;
  border-radius: 21.5px;
  outline: none !important;
  background-color: $textWhite;
  font-family: $montserratSemiBold;
  color: $textgray;
  font-size: $fontSizeTv;
  border: solid 1px $subtitleTV;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.centro {
  text-align: center;
}
.login-button:hover{
  background-color: $rollover;
  border: solid 1px $rollover;
}
.singup-button:hover{
  background-color: $rollover;
  color: $textWhite;
  border: solid 1px $rollover;
}