@import "../base/colors";
@import "../base/config";

/* Estructura Básica de los botones */
%button-basic {
  color: $textWhite;
  font-size: $fontSizeSub;
  padding: $paddingBtn;
  border-radius: $borderRadiusBtn;
  border: none;
  outline: none !important;
  font-size: 12px;
  font-family: $montserratSemiBold;
}

@mixin more-button($background) {
  @extend %button-basic;
  background: $background;
}

.btn-red {
  @include more-button($redBtn);
}

.btn-blue {
  @include more-button($blueSky);
}

.btn-pink {
  @include more-button($pinkBtn);
}

.invisible-button {
  position: fixed;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 0px;
  z-index: 20;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none !important;
  background: black;
  opacity: 0.2;
}
