@import "../base/config";

.poster-image {
  width: 100%;
}
.paises-image {
  width: 10%;
}
.Icon_paises {
  margin-right: 14px;
}
.espacio {
  margin-bottom: 20px;
}
.image-first-column {
  height: $heightFirstColumnPoster;
}

.image-second-column {
  height: $heightImagePoster;
}

.logo {
  width: $logoWidth;
  display: block;
  margin: auto;
}
.menu-responsive {
  width: $navItemWidth;
  position: absolute;
  left: 0;
  top: 0;
}

.login {
  position: absolute;
  right: 0;
  top: 0;
}

.login-item {
  width: $navItemWidth;
}
