@import "../base/colors";
@import "../base/config";

.insert-data {
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  width: 85%;
  height: 44px;
  background-color: $textWhite;
  padding: 1px;
  font-family: $montserratSemiBold;
  color: $pureBlack;
  font-size: $fontSizeTv;
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px $bordergray;
  font-weight: bold;
  outline: none !important;
  text-transform: lowercase;
  
 
}

.insert-data:focus{
  color: $bluetxt;
  border-bottom: solid 2px $bluetxt;
  font-family: $montserratBold;
 
}
label {
  display: flex;
  font-family: $montserratRegular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9fa0a0;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  cursor: pointer;
}
label:before {
  content: "";
  background: transparent;
  border: 2px solid $subtitleTV;
  border-radius: 5px;

  height: 20px;
  width: 20px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  vertical-align: middle;
}

input[type="checkbox"]:checked + label::before {
  content: "✓";
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  color: $textWhite;
  background: $subtitleTV;
}

input[type="checkbox"]:checked + label::before {
  content: "✓";
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $textWhite;
  background: $subtitleTV;
}

.login-form {
  margin-top: 0%;
  height:100%;
}
.tamaño {
  width: 288px;
  height: 44px;
  margin: auto;
  position: relative;
  margin-top: 2%;
}
.tamaño2 {
  width: 307px;
  height: 64px;
  margin: auto;
  position: relative;
}
.pa-img{
  padding-bottom:40px; 
}
.modal-estilo {
  
  border-radius: 8px;
  background-color: #ffffff;
  border: none !important; 
}