@import "../base/colors";
@import "../base/config";

.home-title-link {
  text-decoration: none !important;
}

.border-config {
  border-bottom: solid 1px #a6a8a8;
  margin-bottom: 0;
  width: 100%;
}
