@import "../base/colors";
@import "../base/config";

.home-title-link {
  text-decoration: none !important;
}

.border-config {
  border-bottom: solid 1px #a6a8a8;
  margin-bottom: 0;
  width: 100%;
}

.link-landing-footer {
  text-decoration: none;
}
.slick-none .slick-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  list-style: none;
  display: none !important;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 0;
  /* top: 50%; */
}