hr {
  display: none;
}

.border-right {
  border-right: 1px solid black !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  hr {
    display: block;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    hr {
      display: block;
    }
  }
  .log {
    width: 307px;
    margin-bottom: 30px;
    margin-top: 40px;
    border: solid 1px $subtitleTV;
  }
}
