.hr1 {
  display: none;
}

.border-right {
  border: none !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hr1 {
    display: block;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hr1 {
    display: block;
  }
}

.log {
  width: 90%;
  margin-bottom: 30px;
  margin-top: 40px;
  border: solid 1px $subtitleTV;
}
