@import "../base/config";

.columnGap {
  padding-right: $columnGap !important;
  padding-left: $columnGap !important;
}

.poster-pad-b {
  padding-bottom: $posterPadBottom;
}

.poster-pad-t {
  padding-top: $posterPadTop;
}

.margin-top-50 {
  margin-top: 50px;
}
.paisescentrar {
  padding-left: 120px;
}

.nav-item-margin {
  margin-right: 24px;
}

.margin-bottom-slider {
  margin-bottom: 40px;
}

.adv-headline-mb {
  margin-bottom: 13px;
}

.slider-page-gap {
  margin-right: $columnGap;
}

.margin-bottom-footer {
  margin-bottom: 13px;
}

.no-gap {
  padding-left: 0px;
  padding-right: 0px;
}

.poster-title-margin {
  margin: 8px 0px 8px 16px;
}
.margin-top-por{
  margin-top: 2%;
  margin-bottom: 2%;
}