@import "../base/config";

.columnGap {
  padding-right: $rowGap !important;
}

.poster-pad-b {
  padding-bottom: $posterPadBottom;
}

.poster-pad-t {
  padding-top: $posterPadTop;
}

.margin-top-50 {
  margin-top: 50px;
}
.paisescentrar {
  padding-left: 120px;
}

.nav-item-margin {
  margin-right: 24px;
}
