@import "../base/colors";
@import "../base/config";
@import "../base/typography";

%title-basic {
  text-align: center;
  text-transform: uppercase;
}

%poster-title-basic {
  font-family: $gothamMedium;
  padding: 6px;
}

@mixin title-section($colorText, $fontSize, $fontFamily: $gothamBlack) {
  @extend %title-basic;
  font-size: $fontSize;
  color: $colorText;
  font-family: $fontFamily;
}

@mixin poster-text($fontColor, $fontSize) {
  @extend %poster-title-basic;
  font-size: $fontSize;
  color: $fontColor;
}

.a-our-vision-title {
  @include title-section($pinkColor, $titleSection);
}

.a-sports-text-poster {
  @include poster-text($pureBlack, $posterTitleResponsive);
  margin: 0;
}

.a-programming-text {
  color: $textWhite;
  font-family: $gothamMedium;
  font-size: $sizeProgramming;
}

.a-claro-channel-title {
  @include title-section($blackColor, $titleSection);
  padding-bottom: $titlesPadding;
}

.a-concert-channel-title {
  @include title-section($concertRectangle, $titleSection);
  padding-bottom: $titlesPadding;
}

.a-claro-channel-subtitle-bold {
  @include title-section($blackColor, $posterTitleResponsive);
}

.a-subtitle {
  @include title-section($blackColor, $posterTitleResponsive, $gothamLight);
}
.a-claro-cinema-title {
  @include title-section($cinemaTitle, $titleSection);
}
.a-claro-cinema-title span {
  color: $cinemaTitleGreen;
}

.a-subtitle-bold {
  font-family: $gothamMedium;
  font-size: $posterTitleResponsive;
}

.a-poster-text-white {
  @include poster-text($textWhite, $posterTitleResponsive);
  margin: 0;
}

.a-poster-text-black {
  @include poster-text($pureBlack, $posterTitleResponsive);
  margin: 0;
}

.advertising-title {
  @include title-section($pinkColor, $displayTextOne);
}

.advertising-subtitle {
  @include title-section($blueSky, $displayTextTwo);
}

.advertising-text {
  text-align: justify;
  margin: 0;
  line-height: normal;
  font-size: $sizeProgramming;
}

.a-our-vision-title {
  @include title-section($pinkColor, $titleSection);
}

.a-claro-sports-title {
  @include title-section($cinemaTitleColor, $titleSection);
}

.a-claro-sports-title span {
  color: $blackColor;
}

.footer-title {
  @include title-section($purpleColor, $titleSection);
}

.name_paises {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: $montserratLight;
  font-size: $fontpaises;
  color: $lightgray;
}
.pie_paises {
  font-family: $montserratRegular;
  font-size: $sizeProgramming;
  text-align: center;
  color: $gray;
}
.select_paises {
  height: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: $montserratSemiBold;
  font-size: $fontSizeTv;
  text-align: center;
  color: $gray;
  text-align: center;
  margin: 12px auto 40px auto;
}

.header-h1 {
  font-size: $headerFontSize;
  color: $textWhite;
}

.header-span {
  color: $subtitleTV;
}

.header-point {
  color: $redBtn;
}

.title-tv {
  font-size: $fontSizeTv;
  font-family: $gothamBlack;
  text-align: center;
}

.dropdown-p {
  margin: 0 !important;
  font-family: $montserratLight;
  color: $textWhite;
}

.text-footer-regular {
  color: $greyFooter;
  font-family: $montserratRegular;
  text-align: center;
  font-size: $sizeProgramming;
  margin-bottom: 9px;
}

.text-footer-bold {
  color: $greyFooter;
  font-size: $sizeProgramming;
  font-family: $montserratSemiBold;
  text-align: center;
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .select_paises {
    font-size: $fontlg;
    margin: px auto 74px auto;
  }
  .pie_paises {
    font-size: $fontSize;
  }
  .name_paises {
    font-size: $fontSizeTitle;
  }
}

.contra {
  font-family: $montserratSemiBold;
  font-size: $fontpaises;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $password;
  margin-top: 5%;
}
.nocuenta {
  font-family: $montserratSemiBold;
  font-size: $fontpaises;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $textgray;
  margin-bottom: 2%;
}
