@import "../base/colors";
@import "../base/config";
@import "../base/typography";

%title-basic {
  text-align: center;
}

%poster-title-basic {
  font-family: $gothamMedium;
}

@mixin title-section($colorText, $fontSize, $fontFamily: $gothamBlack) {
  @extend %title-basic;
  font-size: $fontSize;
  color: $colorText;
  font-family: $fontFamily;
}

@mixin poster-text($fontColor, $fontSize) {
  @extend %poster-title-basic;
  font-size: $fontSize;
  color: $fontColor;
}

.a-our-vision-title {
  @include title-section($pinkColor, $titleSection);
}

.a-sports-text-poster {
  @include poster-text($pureBlack, $posterTitleResponsive);
}

.a-programming-text {
  color: $textWhite;
  font-family: $gothamMedium;
  font-size: $sizeProgramming;
}

.a-claro-channel-title {
  @include title-section($blackColor, $titleSection);
  padding-bottom: $titlesPadding;
}

.a-concert-channel-title {
  @include title-section($concertRectangle, $titleSection);
  padding-bottom: $titlesPadding;
}

.a-claro-channel-subtitle-bold {
  @include title-section($blackColor, $fontSize);
}

.a-claro-channel-subtitle {
  @include title-section($blackColor, $fontSize, $gothamLight);
}

.a-concert-text {
  @include poster-text($textWhite, $posterTitleResponsive);
  margin: 0;
}
.name_paises{
  font-family: $montserratLight;
  font-size: $fontSizeTitle;
  color: $lightgray;

}
.pie_paises{
  font-family: $montserratRegular;
  font-size: $sizeProgramming;
  text-align: center;
  color:$gray;
}
.select_paises{
  font-family: $montserratSemiBold;
  font-size: $fontSizeTv;
  text-align: center;
  color:$gray;
}