@import "../settings/color";
@import "../settings/config";

.m-admin-nav {
  display: flex;
  justify-content: space-between;
}

.admin-item-nav {
  background: $white;
  border: 1px solid $borderButtonGray;
  border-radius: 15px;
  cursor: pointer;
  font-family: $montserratLight;
  color: $blackText;
}

.active-admin-nav {
  background: $blackNav;
  font-family: $montserratBold;
  color: $white;
  border: 1px solid $blackNav;
}
