$btnBackRed: #e1261c;
$btnBackPink: #ff00d2;
$colorWhite: #ffffff;
$concertRectangle: #0068ff;
$claroRectangle: #e1261c;
$pinkColor: #eb0d6c;
$cinemaRectangle: #0097a9;
$cinemaTitle: #5b5a5a;
$cinemaTitleGreen: #22c6cb;
$blueSky: #00caf5;
$purpleColor: #6031ad;
$blackColor: #262626;
$rectangleYellow: #f3e626;
$redBtn: #ff0007;
$textWhite: #ffffff;
$pinkBtn: #ff00d2;
$subtitleTV: #069cb0;
$pureBlack: #000000;
$lightgray: #606060;
$gray: #666464;
$ligth: rgba(255, 255, 255, 0.85);
$bluefond: #2c3e50;
$cinemaTitleColor: #f90b0b;
$sidebarColor: #5c1864;
$dropdowncolor: #aa2ab9;
$dropdownBackColor: rgba(223, 201, 225, 0.1);
$greyFooter: #838484;
$borderAvisoColor: #a3a3a3;
$textgray: #717272;
$bordergray: #a1a0a0;
$password: #05b4dd;
$backgroundConcertChannel: #3e0a43;
$bluetxt: #14bef2;
$rollover: #069cb0;
$rollovertxt: #11707d;
$backgroundGray: #d8d8d8;
$txtmodal: #373737;
$txtaviso: #6f6e6e;
$txtblue: #1375ce;
$txtcontramin: #666262;
$navbarItemColor: #525050;
$dontLoseSection: #262626;
$concertColorTitle: #3cc1ff;
$cinemaColorTitle: #f6ff00;
$calendarActiveItem: #bd2c2c;
$scheduleHourColor: #282828;
$scheduleDayColor: #7a7777;
$scheduleButton: #7b7979;
$month: #5f5c5c;
$dropdownCountrySchedule: #71e2fa;
$dropdownCountryBorder: #464444;
$ourChannelColor: #703d86;
$headerH1Color: #4f4f4f;
$warmGray: #969292;
$black: #2d2926;
$sunflowerYellow: #ffd600;
$tomatoColor: #da291c;
$greyishBrownTwo: #4a4a4a;
