$btnBackRed: #e1261c;
$btnBackPink: #ff00d2;
$colorWhite: #ffffff;
$concertRectangle: #0068ff;
$claroRectangle: #e1261c;
$pinkColor: #eb0d6c;
$cinemaRectangle: #01cad5;
$cinemaTitle: #5b5a5a;
$cinemaTitleGreen: #22c6cb;
$blueSky: #00caf5;
$purpleColor: #6031ad;
$blackColor: #262626;
$rectangleYellow: #f3e626;
$redBtn: #ff0007;
$textWhite: #ffffff;
$pinkBtn: #ff00d2;
$subtitleTV: #0fd7f2;
$pureBlack: #000000;
$lightgray:#606060;
$gray:#666464;
