$rectangleHeight: 32px;
$posterPadding: 13px;

$borderRadiusBtn: 19px;
$borderRadiusRectangle: 9px;

$widthConcertChannel: 95%;
$paddingBtn: 8px 20px;

$rectangleHeigth: 30px;
$rectangleWidth: 100%;

$firstGrid: 1 / 2;
$firstRow: 1 / 3;

$secondGrid: 2/3;
$secondRow: 1/2;

$titlesPadding: 2%;
$titlesPaddingSection: 3%;
