$rectangleHeight: 20%;
$posterPadding: 13px;

$borderRadiusBtn: 50px;
$borderRadiusRectangle: 9px;

$widthConcertChannel: 95%;
$paddingBtn: 3% 8%;

$rectangleWidth: 100%;

$firstGrid: 1 / 2;
$firstRow: 1 / 3;

$secondGrid: 2/3;
$secondRow: 1/2;

$titlesPadding: 2%;
$titlesPaddingSection: 3%;

$rowGap: 12px;

$heightFirstColumnPoster: 100%;
$heightSecondColumnPoster: 50%;
$heightImagePoster: 80%;
$rectangleHeigth: 20%;

$posterPadBottom: 6px;
$posterPadTop: 6px;

$logoWidth: 52px;
$navItemWidth: 32px;

$posterImageLeft: 100%;
$posterImageRight: 91%;

$posterSmallImage: 80%;
$sizeSmallPoster: 50%;

$smallRectanglePoster: 9%;
