$rectangleHeight: 20%;
$posterPadding: 13px;

$borderRadiusBtn: 50px;
$borderRadiusRectangle: 9px;
$headerFontSize: 20px;
$widthConcertChannel: 95%;
$paddingBtn: 10px 38px;

$rectangleWidth: 100%;

$firstGrid: 1 / 2;
$firstRow: 1 / 3;

$secondGrid: 2/3;
$secondRow: 1/2;

$titlesPadding: 2%;
$titlesPaddingSection: 29px;

$columnGap: 6px;

$heightFirstColumnPoster: 100%;
$heightSecondColumnPoster: 272px;
$heightImagePoster: 80%;
$rectangleHeigth: 20%;

$posterPadBottom: 6px;
$posterPadTop: 6px;

$logoWidth: 52px;
$navItemWidth: 25px;

$posterImageLeft: 100%;
$posterImageRight: 91%;

$posterSmallImage: 80%;
$sizeSmallPoster: 50%;
$smallRectanglePoster: 9%;

/*Tamaño de textos - responsive*/
$fontSize: 12px;
$fontSizeTitle: 18px;
$fontSizeSub: 12px;
$displayTextOne: 48px;
$titleSection: 24px;
$displayTextTwo: 17.5px;
$fontSizeTv: 14px;
$posterTitleResponsive: 14px;
$sizeProgramming: 10px;
$fontlg: 20px;
$fontpaises: 16px;

/*Tipografías*/

$gothamBlack: "Gotham-Black";
$gothamMedium: "Gotham-Medium";
$gothamLight: "Gotham-Light";
$montserratLight: "Montserrat-Light";
$montserratRegular: "Montserrat-Regular";
$montserratSemiBold: "Montserrat-SemiBold";
