.schedule-item-body {
  border-bottom: 2px solid #979797;
  padding-bottom: 25px;
  display: flex;
}

.schedule-item-body:first-child {
  margin-top: 0px;
}

.schedule-container {
  margin-top: 26px;
}

.schedule-details,
.schedule-details-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.schedule-details-header {
  height: 100%;
}

.rating-container {
  margin: 30px 0px;
}

.synopsis-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.next-videos-tablet {
  display: none;
}

.imperdibles-videos-tablet {
  display: none;
  padding-top: 30px;
}

.imperdibles-videos-desktop {
  display: none;
}

.week-videos-tablet {
  display: none;
}

#marca-container iframe,
#vision-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: initial !important;
}

.pro-container {
  padding-left: 5%;
  padding-right: 5%;
}

.synopsis-buttons-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.synopsis-buttons-tablet-container {
  display: none;
}

.synopsis-body-container {
  display: initial;
}

.showtime-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 68px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  z-index: 1;
}

.poster-body {
  position: relative;
}

.cinema-home-videos-container {
  z-index: 2;
}

.claro-cinema-container {
  background-image: url("../../../images/claro-cinema/circle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 50%;
  background-position-y: 300px;
}

.signup-container {
  margin-top: 0%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tamaño-aviso-terminos {
  width: 84%;
  height: 405px;
  margin: auto;
  overflow-y: scroll;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aviso-container {
  display: flex;
  justify-content: center;
}

.signup-button-container {
  padding-bottom: 20px;
}

.perfil-container {
  padding-top: 50px;
}

.mi-lista-container {
  padding-top: 100px;
}

.category-container {
  border-bottom: 1px solid black;
}

.section-list-container {
  border-bottom: solid 1px #a6a8a8;
  padding: 0 27px;
}

.myList-details-container {
  padding: 25px 0;
}

.info-schedule {
  padding-bottom: 35px;
}

.lista-content {
  position: relative;
}

.myList-details-tablet {
  display: none;
}

.myList-details-desktop {
  display: none;
}

.correo-container {
  width: 100%;
  max-width: 550px;
  margin: auto;
}

.alertas-content {
  max-width: 455px !important;
}
.alert-switch-container {
  position: absolute;
  left: 97%;
  transform: translate(-97%, 0px);
}

.alert-user {
  position: absolute;
  width: 100%;
  border-radius: 9px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  right: -100%;
  top: 15%;
  z-index: 4;
  max-width: 300px;
  transition: all 1s;
  transform: translate(50%, 0%);
}

@keyframes showAlert {
  0% {
    right: -100%;
  }

  25% {
    right: 2%;
  }

  50% {
    right: 2%;
  }

  75% {
    right: 2%;
  }

  100% {
    right: -100%;
  }
}

@keyframes showAlert {
  0% {
    right: -100%;
  }

  25% {
    right: 2%;
  }

  50% {
    right: 2%;
  }

  75% {
    right: 2%;
  }

  100% {
    right: -100%;
  }
}
