.schedule-item-body {
  border-bottom: 2px solid #979797;
  padding-bottom: 25px;
  display: flex;
}

.schedule-item-body:first-child {
  margin-top: 0px;
}

.schedule-container {
  margin-top: 26px;
}

.schedule-details,
.schedule-details-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.schedule-details-header {
  height: 100%;
}

.rating-container {
  margin: 30px 0px;
}

.synopsis-details-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.next-videos-tablet {
  display: none;
}

.imperdibles-videos-tablet {
  display: none;
  padding-top: 30px;
}

.imperdibles-videos-desktop {
  display: none;
}

.week-videos-tablet {
  display: none;
}

.marca-container {
  height: 100%;
}

.marca-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.pro-container {
  padding-left: 5%;
  padding-right: 5%;
}

.synopsis-buttons-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.synopsis-buttons-tablet-container {
  display: none;
}

.synopsis-details-container {
  display: flex;
  justify-content: space-between;
}
