.header {
  width: 100%;
  height: 205px;
  background-image: url("../../../images/home/american-horror.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.claro-canal-header .header {
  position: relative;
  background: #512a14;
}

/*.claro-canal-header .header::after,
.claro-cinema-header .header::after {
  content: "";

  width: 100%;
  height: 30px;
  border-radius: 26% 69% 0% 10% / 23% 100% 0% 0%;
  position: absolute;
  top: 87%;
}*/

.claro-cinema-header .header::after {
  background: #f5dd15;
}

.concert-channel-header .header {
  background: transparent;
}

.claro-cinema-header .header {
  position: relative;
  background: #2dcaab;
}
