@import "../base/colors";

.hamburguer-menu {
  position: fixed;
  width: 350px;
  max-width: calc(100vw - 50px);
  height: 100%;
  background: $sidebarColor;
  z-index: 16;
  transform: translate(-100%);
  transition: all 0.3s ease-out;
}

.menu-tablet {
  width: 100%;
  transition: all 0.5s ease 0s;
  z-index: 10;
  position: absolute;
}

.concert-channel-header {
  .menu-tablet {
    padding: 30px;
  }
}
