@import "../base/colors";

.hamburguer-menu {
  position: fixed;
  width: 350px;
  max-width: calc(100vw - 50px);
  height: 100%;
  background: $sidebarColor;
  z-index: 16;
  transform: translate(-100%);
  transition: all 0.3s ease-out;
}

.menu-tablet {
  width: 100%;
  transition: all 0.5s ease 0s;
  z-index: 10;
  position: initial;
}

.home-header {
  .menu-tablet {
    position: initial;
  }
}

.concert-channel-header {
  .menu-tablet {
    padding: 30px;
  }
}

.marca-header {
  .menu {
    position: initial;
    padding: 16px;
    background: black;
  }

  .nav-content {
    margin: 0px;
    position: relative;
  }
}

.menu-perfil {
  background: #069cb0;
  position: fixed;
  width: 100%;
  z-index: 2;
  max-height: 63px;
  transition: all 0.5s ease 0s;
}

.menu-desktop {
  display: none;
  position: absolute;
  width: 100%;
  padding: calc(3% + 4px) calc(8% - 10px) 0px calc(8% - 10px);
  z-index: 2;
}

.menu-desktop .nav-content {
  display: flex;
  z-index: 4;
  justify-content: space-between;
}

.marca-header .menu-tablet,
.marca-header .menu-desktop {
  position: initial;
}

.marca-header .menu-tablet {
  padding: 30px;
}

.marca-header .menu-desktop {
  padding: calc(3% + 4px) calc(8% - 10px) calc(3% + 4px) calc(8% - 10px);
}

.categorias-menu {
  .sidebar-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tache_button {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.perfil-header {
  .menu-tablet {
    padding: calc(3% + 4px) calc(8% - 10px) 0px calc(8% - 10px);
  }
}

.categorias-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.lista-header {
  .menu-tablet {
    padding: calc(3% + 4px) calc(8% - 10px) calc(3% + 4px) calc(8% - 10px);
    background: #4dd0e1;
  }
}

.menu-ingreso {
  display: flex;
  align-items: center;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 1;
  padding: 8px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

.options-item {
  cursor: pointer;
  width: 100%;
  max-width: 33px;
}
