@import "../molecules/posters";

.o-home-section {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 600px;
  margin: 24px auto 40px auto;
}

.o-advertising-section {
  margin: 50px auto 55px auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 600px;
}
