@import "../molecules/posters";

%section-basic {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@mixin section($background: null) {
  @extend %section-basic;
  background-color: $background;
}

.o-concert-section {
  @include section();
}

.o-tv-section {
  @include section();
}

.o-cinema-section {
  @include section();
}

.o-vision-section {
  @include section();
}

.o-claro-section {
  @include section();
}

.o-sports-section {
  @include section();
}

.o-footer-section {
  @include section();
}

.o-advertising-section {
  margin: 50px auto 55px auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 600px;
}

.terms-conditions-desktop {
}
