@import "../molecules/posters";

.o-home-section {
  margin-top: 24px;
  padding-left: 5%;
  padding-right: 5%;
}

.o-advertising-section {
  margin: 50px 0px;
  padding-left: 5%;
  padding-right: 5%;
}
