$blackText: #161515;
$white: #ffffff;
$coralBlue: #40c7e9;
$lightGrey: #d8d8d8;
$borderGray: #817e7e;
$headerTitleGray: #757474;
$buttonGray: #eeeeee;
$borderButtonGray: #979797;
$red: #fc281e;
$green: #15b643;
$blackNav: #2e2c2c;
