@charset "UTF-8";
.bx-wrapper {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 50px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d8d8d8 !important;
  text-indent: -9999px;
  display: block;
  width: 5px !important;
  height: 5px !important;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #7d7979 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0rem !important;
  font-weight: 500;
  line-height: 1.2;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url(../../../fonts/Gotham-Medium.ttf);
}

@font-face {
  font-family: "Gotham-Black";
  src: url(../../../fonts/Gotham-Black.ttf);
}

@font-face {
  font-family: "Gotham-Book";
  src: url(../../../fonts/Gotham-Book.ttf);
}

@font-face {
  font-family: "Gotham-Bold";
  src: url(../../../fonts/Gotham-Bold.ttf);
}

@font-face {
  font-family: "Gotham-Light";
  src: url(../../../fonts/Gotham-Light.ttf);
}

@font-face {
  font-family: "Gotham-BoldItalic";
  src: url(../../../fonts/Gotham-BoldItalic.ttf);
}

/* Tamaño de textos */
/*Tipografías*/
.a-our-vision-title, .a-claro-channel-title, .a-concert-channel-title, .a-claro-channel-subtitle-bold, .a-claro-channel-subtitle {
  text-align: center;
}

.a-sports-text-poster, .a-concert-text {
  font-family: "Gotham-Medium";
}

.a-our-vision-title {
  font-size: 24px;
  color: #eb0d6c;
  font-family: "Gotham-Black";
}

.a-sports-text-poster {
  font-size: 8px;
  color: #000000;
}

.a-programming-text {
  color: #ffffff;
  font-family: "Gotham-Medium";
  font-size: 10px;
}

.a-claro-channel-title {
  font-size: 24px;
  color: #262626;
  font-family: "Gotham-Black";
  padding-bottom: 2%;
}

.a-concert-channel-title {
  font-size: 24px;
  color: #0068ff;
  font-family: "Gotham-Black";
  padding-bottom: 2%;
}

.a-claro-channel-subtitle-bold {
  font-size: 12px;
  color: #262626;
  font-family: "Gotham-Black";
}

.a-claro-channel-subtitle {
  font-size: 12px;
  color: #262626;
  font-family: "Gotham-Light";
}

.a-concert-text {
  font-size: 8px;
  color: #ffffff;
  margin: 0;
}

/* Estructura Básica de los botones */
.btn-red, .btn-blue, .btn-pink {
  color: #ffffff;
  font-size: 12px;
  padding: 3% 8%;
  border-radius: 50px;
  border: none;
  outline: none !important;
}

.btn-red {
  background: #ff0007;
}

.btn-blue {
  background: #00caf5;
}

.btn-pink {
  background: #ff00d2;
}

.a-cinema-rectangle, .a-sports-rectangle, .a-concert-rectangle, .a-claro-rectangle {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-cinema-rectangle {
  background: #01cad5;
  width: 100%;
}

.a-sports-rectangle {
  background: #f3e626;
  width: 100%;
}

.a-concert-rectangle {
  background: #0068ff;
  width: 100%;
}

.a-claro-rectangle {
  background: #e1261c;
  width: 100%;
}

.poster-image {
  width: 100%;
}

.m-first-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-first-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: firstPoster;
}

.m-second-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: secondPoster;
}

.m-third-poster {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: thirdPoster;
}

.m-claro-poster-section, .m-concert-poster-section {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  display: -moz-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.m-claro-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster thirdPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.m-concert-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster secondPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.m-see-more {
  text-align: center;
}

.m-home-titles {
  padding-bottom: 3%;
}

.m-first-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-first-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: firstPoster;
}

.m-second-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: secondPoster;
}

.m-third-poster {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: thirdPoster;
}

.m-claro-poster-section, .m-concert-poster-section {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  display: -moz-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.m-claro-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster thirdPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.m-concert-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster secondPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.o-home-section {
  margin-top: 8%;
}
/*# sourceMappingURL=style.css.map */