@charset "UTF-8";
body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.nuevo_body {
  height: 100%;
  overflow: auto;
}

.nuevo-html {
  height: 100%;
  overflow: hidden;
}

.bx-wrapper {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 50px !important;
  max-width: 500px !important;
  width: 100% !important;
  margin: 0px auto !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d8d8d8 !important;
  text-indent: -9999px;
  display: block;
  width: 5px !important;
  height: 5px !important;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #7d7979 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0rem !important;
  font-weight: 500;
  line-height: 1.2;
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
.columnGap {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.poster-pad-b {
  padding-bottom: 6px;
}

.poster-pad-t {
  padding-top: 6px;
}

.poster-pad-l {
  padding-left: 6px;
}

.poster-pad-r {
  padding-right: 6px;
}

.poster-margin-r {
  margin-right: 6px;
}

.poster-margin-l {
  margin-left: 6px;
}

.margin-top-50 {
  margin-top: 50px;
}

.paisescentrar {
  padding-left: 120px;
}

.nav-item-margin {
  margin-right: 15px;
}

.margin-bottom-slider {
  margin-bottom: 50px;
}

.adv-headline-mb {
  margin-bottom: 13px;
}

.margin-bottom-footer {
  margin-bottom: 13px;
}

.no-gap {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.poster-title-margin {
  margin: 8px 0px 8px 16px;
  overflow: hidden;
}

.margin-top-por {
  margin-top: 2%;
  margin-bottom: 2%;
}

.margin-ahora-tv {
  margin-top: 14px;
  margin-bottom: 14px;
}

.ma-no {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.margin-bottom-75 {
  margin-bottom: 75px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-left-11 {
  margin-left: 11px;
}

.espacio-bottom {
  margin-bottom: 0px;
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
@font-face {
  font-family: "Gotham-Medium";
  src: url(../../../fonts/Gotham-Medium.ttf);
}

@font-face {
  font-family: "Gotham-Black";
  src: url(../../../fonts/Gotham-Black.ttf);
}

@font-face {
  font-family: "Gotham-Book";
  src: url(../../../fonts/Gotham-Book.ttf);
}

@font-face {
  font-family: "Gotham-Bold";
  src: url(../../../fonts/Gotham-Bold.ttf);
}

@font-face {
  font-family: "Gotham-Light";
  src: url(../../../fonts/Gotham-Light.ttf);
}

@font-face {
  font-family: "Gotham-BoldItalic";
  src: url(../../../fonts/Gotham-BoldItalic.ttf);
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../../../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../../../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../../../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Black";
  src: url(../../../fonts/Montserrat-Black.ttf);
}

.a-our-vision-title, .a-claro-channel-title, .a-concert-channel-title, .a-claro-channel-subtitle-bold, .a-subtitle, .a-claro-cinema-title, .advertising-title, .advertising-subtitle, .a-claro-sports-title, .poster-title-sport, .footer-title, .footer-title-claro, .a-today-claro-title,
.a-today-cinema-title, .a-next-claro-title, .a-next-claro-subtitle, .a-dontLose-claro-subtitle, .a-dontLose-claro-title, .today-concert-title, .concert-title, .concert-subtitle, .a-cinema-title, .a-cinema-subtitle {
  text-align: center;
  text-transform: uppercase;
}

.a-sports-text-poster, .a-poster-text-white, .a-poster-text-black {
  font-family: "Gotham-Medium";
  padding: 6px;
}

.a-our-vision-title {
  font-size: 24px;
  color: #eb0d6c;
  font-family: "Montserrat-Black";
}

.a-sports-text-poster {
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.a-programming-text {
  color: #ffffff;
  font-family: "Gotham-Medium";
  font-size: 16px;
  margin: 10px;
}

.a-claro-channel-title {
  font-size: 24px;
  color: #262626;
  font-family: "Montserrat-Black";
  padding-bottom: 2%;
}

.a-concert-channel-title {
  font-size: 24px;
  color: #0068ff;
  font-family: "Montserrat-Black";
  padding-bottom: 2%;
}

.a-claro-channel-subtitle-bold {
  font-size: 14px;
  color: #262626;
  font-family: "Montserrat-Black";
  padding-bottom: 2%;
}

.a-subtitle {
  font-size: 14px;
  color: #262626;
  font-family: "Gotham-Light";
  padding-bottom: 2%;
}

.a-claro-cinema-title {
  font-size: 24px;
  color: #5b5a5a;
  font-family: "Montserrat-Black";
  padding-bottom: 2%;
}

.a-claro-cinema-title span {
  color: #22c6cb;
}

.a-subtitle-bold {
  font-family: "Gotham-Medium";
  font-size: 14px;
  padding-bottom: 2%;
}

.a-poster-text-white {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a-poster-text-black {
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.advertising-title {
  font-size: 48px;
  color: #eb0d6c;
  font-family: "Montserrat-Black";
}

.advertising-subtitle {
  font-size: 17.5px;
  color: #00caf5;
  font-family: "Montserrat-Black";
}

.advertising-text {
  text-align: justify;
  margin: 0;
  line-height: normal;
  font-size: 16px;
}

.a-our-vision-title {
  font-size: 24px;
  color: #eb0d6c;
  font-family: "Montserrat-Black";
  padding-bottom: 2%;
}

.a-claro-sports-title {
  font-size: 24px;
  color: #f90b0b;
  font-family: "Montserrat-Black";
  padding-bottom: 2%;
}

.a-claro-sports-title span {
  color: #262626;
}

.poster-title-sport {
  font-size: 24px;
  color: #f90b0b;
  font-family: "Montserrat-Black";
}

.poster-title-sport span {
  color: #262626;
}

.footer-title {
  font-size: 24px;
  color: #6031ad;
  font-family: "Montserrat-Black";
}

.footer-title-claro {
  font-size: 24px;
  color: #e1261c;
  font-family: "Montserrat-Black";
}

.name_paises {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Montserrat-Light";
  font-size: 16px;
  color: #606060;
}

.pie_paises {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  text-align: center;
  color: #666464;
}

.select_paises {
  height: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  text-align: center;
  color: #666464;
  text-align: center;
  margin: 12px auto 40px auto;
}

.header-h1 {
  font-size: 20px;
  color: #ffffff;
}

.header-span {
  color: #0fd7f2;
}

.header-point {
  color: #ff0007;
}

.title-tv {
  font-size: 20px;
  font-family: "Gotham-Black";
  text-align: center;
}

.dropdown-p {
  margin: 0 !important;
  font-family: "Montserrat-Light";
  color: #ffffff;
}

.active-sidebar-item::before {
  content: "";
  background: #ffa700;
  width: 12px;
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
}

.text-footer-basic {
  color: #838484;
  font-size: 16px;
}

.text-footer-regular {
  margin-bottom: 9px;
}

.text-footer-bold {
  color: #838484;
  font-family: "Montserrat-SemiBold";
  margin-bottom: 22px;
}

.other-text-regular,
.text-footer-regular {
  font-family: "Montserrat-Regular";
}

.other-text-regular,
.text-footer-regular,
.text-footer-bold {
  text-align: center;
  font-size: 10px;
}

.other-text-regular,
.o-footer-section .aviso-priv-blue {
  margin-bottom: 41px;
}

.terms-conditions-mobile .aviso-priv-blue {
  font-size: 10px;
}

.terms-conditions-desktop .aviso-priv-blue:nth-child(1) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .select_paises {
    font-size: 20px;
    margin: px auto 74px auto;
  }
  .pie_paises {
    font-size: 12px;
  }
  .name_paises {
    font-size: 18px;
  }
}

.contra {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #05b4dd;
  margin-top: 5%;
}

.nocuenta {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #717272;
  margin-bottom: 2%;
}

.poster-horario {
  font-family: "Montserrat-SemiBold";
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  position: absolute;
  left: 4%;
  top: 4%;
}

.registro {
  font-family: "Montserrat-SemiBold";
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #717272;
  margin-left: 3%;
}

.contra:hover {
  color: #11707d;
}

.enviamos {
  font-family: "Montserrat-Regular";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
}

.confirma {
  font-family: "Montserrat-Bold";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
}

.txtcontenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hola {
  font-family: "Montserrat-Black";
  font-size: 25px;
  font-weight: 900;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0fd7f2;
}

.usuario {
  font-family: "Montserrat-Black";
  font-size: 25px;
  font-weight: 900;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.mensaje {
  font-family: "Montserrat-Regular";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #717272;
}

.aviso-priv {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6f6e6e;
}

.aviso-priv-blue {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  font-weight: 700;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1375ce;
}

.caracteres-min {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  font-weight: 700;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #666262;
  text-align: left;
  margin-left: 7%;
  margin-top: 3%;
}

.horario-text {
  font-size: 14px;
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
}

.navbar-item {
  margin-bottom: 0;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  text-decoration: none;
  margin-right: 20px;
  color: #525050;
}

/*Claro Canal*/
.a-header-card-text {
  font-family: "Montserrat-Light";
}

.a-header-card-text,
.a-header-card-title,
.a-header-card-subtitle {
  font-size: 10px;
  color: #000000;
}

.a-header-card-title {
  text-transform: uppercase;
  font-family: "Montserrat-Bold";
}

.a-header-card-subtitle {
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
}

.a-today-claro-title {
  padding: 24px 0px;
}

.a-today-claro-title,
.a-today-cinema-title {
  font-size: 24px;
  color: #262626;
  font-family: "Montserrat-Black";
  text-transform: uppercase;
}

.a-today-cinema-title {
  padding-top: 14px;
  padding-bottom: 15px;
}

.a-today-claro-title span,
.a-today-cinema-title span {
  color: #e1261c;
}

.a-next-claro-title,
.a-dontLose-claro-title,
.a-next-claro-subtitle,
.a-dontLose-claro-subtitle {
  text-transform: uppercase;
}

.a-next-claro-title,
.a-dontLose-claro-title {
  padding: 14px 0px 6px 0px;
}

.a-next-claro-subtitle,
.a-dontLose-claro-subtitle {
  padding-bottom: 20px;
}

.a-next-claro-title {
  font-size: 24px;
  color: #ffffff;
  font-family: "Montserrat-Black";
}

.a-next-claro-subtitle {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat-Light";
}

.a-dontLose-claro-subtitle {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat-Light";
}

.a-dontLose-claro-subtitle span,
.a-next-claro-subtitle span {
  font-family: "Montserrat-SemiBold";
}

.a-dontLose-claro-title {
  font-size: 24px;
  color: #ffffff;
  font-family: "Montserrat-Black";
}

.bold {
  width: 210px;
  font-family: "Montserrat-Bold";
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #373737;
}

.regular {
  width: 210px;
  font-family: "Montserrat-Regular";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #717272;
}

.bold1 {
  width: 288px;
  font-family: "Montserrat-Bold";
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #373737;
}

.regular1 {
  width: 288px;
  font-family: "Montserrat-Regular";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #717272;
}

/*End Claro Canal*/
/*Concert channel*/
.today-concert-title {
  font-size: 24px;
  color: #ffffff;
  font-family: "Montserrat-Black";
  padding: 20px 0px;
}

.today-concert-title span {
  color: #3cc1ff;
}

.concert-title {
  font-size: 24px;
  color: #3cc1ff;
  font-family: "Montserrat-Black";
  padding-bottom: 6px;
}

.concert-subtitle {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat-Light";
  padding-bottom: 20px;
}

.concert-subtitle span {
  font-family: "Montserrat-SemiBold";
}

.concert-container .advertising-text {
  color: white;
}

.concert-container .footer-title {
  color: white;
  text-align: center;
}

.concert-container .text-footer-regular {
  color: #838484;
}

/*Claro cinema*/
.a-cinema-title {
  font-size: 24px;
  color: #ffffff;
  font-family: "Montserrat-Black";
  padding-top: 7px;
  padding-bottom: 7px;
}

.a-cinema-title span {
  color: #f6ff00;
}

.a-cinema-subtitle {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat-Light";
  padding-bottom: 7px;
}

.a-cinema-subtitle span {
  font-family: "Montserrat-SemiBold";
}

.header-title-section {
  background: black;
  margin-bottom: 10px;
}

/*end claro cinema*/
.nodatos {
  display: none;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff0007;
  margin-top: 3%;
  text-align: center;
}

.nocorreo {
  display: none;
  text-align: left;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff0007;
  margin-left: 7%;
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
/* Estructura Básica de los botones */
.btn-red, .btn-blue, .btn-pink, .btn-purple {
  color: #ffffff;
  font-size: 12px;
  padding: 10px 38px;
  border-radius: 50px;
  border: none;
  outline: none !important;
  font-size: 12px;
  font-family: "Montserrat-SemiBold";
}

.btn-red {
  background: #ff0007;
}

.btn-blue {
  background: #00caf5;
}

.btn-pink {
  background: #ff00d2;
}

.btn-purple {
  background: #6031ad;
}

.invisible-button {
  opacity: 0.4;
  position: fixed;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 0px;
  z-index: 20;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  outline: none !important;
}

.login-button {
  width: 288px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #0fd7f2;
  font-family: "Montserrat-SemiBold";
  color: #ffffff;
  font-size: 14px;
  border: none;
  outline: none !important;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.singup-button {
  width: 288px;
  height: 44px;
  border-radius: 21.5px;
  outline: none !important;
  background-color: #ffffff;
  font-family: "Montserrat-SemiBold";
  color: #717272;
  font-size: 14px;
  border: solid 1px #0fd7f2;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.centro {
  text-align: center;
}

.login-button:hover {
  background-color: #069cb0;
  border: solid 1px #069cb0;
}

.singup-button:hover {
  background-color: #069cb0;
  color: #ffffff;
  border: solid 1px #069cb0;
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
.a-cinema-rectangle, .a-sports-rectangle, .a-concert-rectangle, .a-claro-rectangle, .a-vision-rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
}

.a-cinema-rectangle {
  background: #01cad5;
}

.a-sports-rectangle {
  background: #f3e626;
}

.a-concert-rectangle {
  background: #0068ff;
}

.thumbnail-info-image {
  float: left;
  width: 15%;
}

.thumbnail-info-title {
  float: left;
  width: 84%;
  margin-right: 1%;
}

.a-claro-rectangle {
  background: #e1261c;
}

.a-vision-rectangle {
  background: #eb0d6c;
}

.a-sports-rectangle {
  background: #f3e626;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  position: relative;
}

.transmission-panel {
  position: absolute;
  width: 100%;
  height: 70px;
  opacity: 0.65;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}

.transmission-add {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Canal claro*/
.a-next-week-rectangle {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  height: 84px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rectangle-content {
  width: 100%;
  text-align: center;
}

.showtime-container {
  position: absolute;
  height: 68px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  width: 100%;
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
.poster-image {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 420px;
}

.paises-image {
  width: 0%;
  max-width: 125px;
  min-width: 60px;
  max-height: 75px;
  min-height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Icon_paises {
  margin-right: 14px;
  vertical-align: middle;
}

.espacio {
  margin-bottom: 20px;
}

.fondo {
  background: url(../../../images/paises/haryypotter.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondopaises {
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  display: block;
  padding: 30px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .paises-image {
    width: 16%;
    margin-top: 24px;
    margin-bottom: 38px;
  }
  .pie_paises {
    margin-top: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .paises-image {
    width: 10%;
    margin-top: 79px;
    margin-bottom: 90px;
  }
  .pie_paises {
    margin-top: 23px;
    margin-bottom: 20px;
  }
  .shadow1 {
    -webkit-box-shadow: 3px 3px 5px 6px #5c1864;
    box-shadow: 3px 3px 5px 6px #5c1864;
    border-radius: 5px;
    margin-top: 15%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .paises-image {
    width: 10%;
    margin-top: 72px;
    margin-bottom: 84px;
  }
  .pie_paises {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .shadow1 {
    -webkit-box-shadow: 3px 3px 5px 6px #5c1864;
    box-shadow: 3px 3px 5px 6px #5c1864;
    border-radius: 5px;
    margin-top: 4%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .paises-image {
    width: 12%;
    margin-top: 65px;
    margin-bottom: 84px;
  }
  .pie_paises {
    margin-top: 25px;
    margin-bottom: 22px;
  }
  .shadow1 {
    -webkit-box-shadow: 3px 3px 5px 6px #5c1864;
    box-shadow: 3px 3px 5px 6px #5c1864;
    border-radius: 5px;
    margin-top: 4%;
  }
}

.logo {
  width: 52px;
  display: block;
  margin: auto;
}

.menu-responsive {
  width: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

/*.login-item {
  width: $navItemWidth;
}*/
.showtime-clock {
  width: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.a-cinema-rectangle .showtime-clock {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.a-sports-rectangle .showtime-clock {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.poster-image-left {
  height: 100%;
}

.poster-image-right {
  height: 91%;
}

.poster-image-small {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 220px;
}

.advertising-image {
  width: 80%;
  display: block;
  margin: 30px auto;
}

.social-icon {
  width: 45px;
}

.logo-footer {
  margin-bottom: 16px;
  text-align: center;
}

.footer-img {
  width: 80%;
  max-width: 50px;
}

.small-footer-img {
  width: 100%;
  height: 60px;
  max-width: 80px;
}

.ubicacion {
  position: absolute;
  top: 44%;
  right: 10%;
}

.ubicacion1 {
  position: absolute;
  left: 41%;
  top: 36%;
}

.ubicacion2 {
  position: absolute;
  bottom: 12%;
}

.ubicacion3 {
  position: absolute;
  right: 1%;
  top: 66%;
}

.ubicacion4 {
  position: absolute;
  right: 6%;
  top: 31%;
  opacity: 0.3;
}

.ubicacion5 {
  position: absolute;
  bottom: 11%;
}

.ubicacion6 {
  position: absolute;
  bottom: 8%;
}

/*Colores de prueba para posters*/
.poster-grey {
  background: #959292;
}

.pink-color {
  background: #e289af;
}

.cinema-poster-color {
  background: #83e3e8;
}

.concert-poster-color {
  background: #5e98ec;
}

.claro-poster-color {
  background: #e66159;
}

.sport-poster-color {
  background: #f3ea6d;
}

.fondolog {
  background: #ffffff;
  height: 703.19px;
}

.ubicacion4:hover {
  opacity: 1;
}

.logo-sidebar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.listo {
  display: none;
}

/*Canal Claro*/
.claro-thumbnail {
  background: #797979;
  overflow: hidden;
  padding-bottom: 41%;
  position: relative;
  width: 100%;
}

.claro-thumbnail img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
}

.next-week-thumb {
  background: #797979;
  overflow: hidden;
  padding-bottom: 65%;
  position: relative;
  width: 100%;
}

/*Concert channel*/
.thumbnail {
  background: #797979;
  overflow: hidden;
  padding-bottom: 41%;
  position: relative;
  width: 100%;
}

.hr1 {
  display: none;
}

.border-right {
  border: none !important;
}

.aviso-border {
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 22px;
}

.footer-border-right {
  border-right: 1px solid #a3a3a3;
}

.sidebar-border-bottom {
  border-bottom: solid 1px #aa2ab9;
}

.sidebar-border-top {
  border-top: solid 1px #aa2ab9;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hr1 {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hr1 {
    display: block;
  }
}

.log {
  width: 90%;
  margin-bottom: 30px;
  margin-top: 40px;
  border: solid 1px #0fd7f2;
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
.insert-data {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-clip: padding-box;
  width: 85%;
  height: 44px;
  background-color: #ffffff;
  padding: 1px;
  font-family: "Montserrat-SemiBold";
  color: #000000;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #a1a0a0;
  font-weight: bold;
  outline: none !important;
  text-transform: lowercase;
}

.insert-data:focus {
  color: #14bef2;
  border-bottom: solid 2px #14bef2;
  font-family: "Montserrat-Bold";
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9fa0a0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

label:before {
  content: "";
  background: transparent;
  border: 2px solid #0fd7f2;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label::before {
  content: "✓";
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #0fd7f2;
}

input[type="checkbox"]:checked + label::before {
  content: "✓";
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  background: #0fd7f2;
}

.login-form {
  margin-top: 0%;
  height: 100%;
}

.tamaño {
  width: 288px;
  height: 44px;
  margin: auto;
  position: relative;
  margin-top: 2%;
}

.tamaño2 {
  width: 307px;
  height: 64px;
  margin: auto;
  position: relative;
}

.pa-img {
  padding-bottom: 40px;
}

.modal-estilo {
  border-radius: 8px;
  background-color: #ffffff;
  border: none !important;
}

.home-video {
  /*position: fixed;
  right: 0;
  top: 0;
  width: 720px;*/
  /*position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;*/
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.circle-video {
  display: none;
  width: 65%;
  margin: auto;
  -webkit-clip-path: circle(50% at 80% 21%);
          clip-path: circle(50% at 80% 21%);
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
  overflow: hidden;
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
.login-item:first-child {
  margin-right: 10px;
}

.large-poster-width {
  width: 50%;
}

/*%poster-basic {
  display: flex;
}

.m-first-poster {
  @extend %poster-basic;
  grid-area: firstPoster;
}

.m-second-poster {
  grid-area: secondPoster;
}

.m-third-poster {
  grid-area: thirdPoster;
}

%section-basic {
  width: 100%;
  margin: auto;
  display: grid;
  display: -moz-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@mixin poster-section($firstRow, $secondRow, $columnGap: null, $rowGap: null) {
  @extend %section-basic;
  grid-template-areas:
    $firstRow
    $secondRow;
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
}

.m-claro-poster-section {
  @include poster-section(
    "firstPoster secondPoster",
    "firstPoster thirdPoster",
    10px,
    10px
  );
}

.m-concert-poster-section {
  @include poster-section(
    "firstPoster secondPoster",
    "firstPoster secondPoster",
    10px,
    10px
  );
}

.small-poster {
  height: $heightSecondColumnPoster;
  position: relative;
}

.second-column-image {
  height: 91%;
}*/
.m-see-more {
  text-align: center;
  margin-bottom: 30px;
}

.menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  position: fixed;
  width: 100%;
  z-index: 1;
  max-height: 63px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-tablet {
  display: none;
}

.nav-content {
  margin: 16px;
  position: relative;
}

.claro-navbar {
  display: none;
  margin-top: 25px;
  background: white;
  z-index: 3;
  position: absolute;
}

.tv-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-bottom: 9%;
  max-width: calc(100vw - 35px);
  margin: 0 auto 9% auto;
  width: 350px;
}

.nav-li {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.75;
}

.active-navItem {
  position: relative;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

.active-navItem::after {
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: #ff0007 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 120%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.login {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  width: 80%;
  margin: auto;
  padding: 30px 0px;
}

.sidebar-content {
  -webkit-overflow-scrolling: touch;
}

.dropdown-content {
  display: none;
  text-align: center;
  padding: 5px 0px;
  background: rgba(223, 201, 225, 0.1);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 46px auto 86px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes active-dropdown {
  0% {
    margin-left: -130%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes active-dropdown {
  0% {
    margin-left: -130%;
  }
  100% {
    margin-left: 0%;
  }
}

/*Tamaño de textos - responsive*/
/*Tipografías*/
.m-home-titles {
  padding-bottom: 2%;
}

.header-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  height: 100%;
  text-align: center;
  font-family: "Gotham-Black";
}

#next-week-slider {
  padding-bottom: 58px;
  margin-bottom: 32px;
}

.concert-slider {
  padding-bottom: 50px;
}

.concert-container .slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.slick-slider .slick-list {
  padding: 0px 15px 0px 15px !important;
}

.slick-slider {
  width: 100%;
}

.slick-track {
  margin-bottom: 16px !important;
  height: 100%;
}

.today .slick-dots {
  bottom: inherit;
}

#dontLose-claro-slider {
  padding-bottom: 58px;
  margin-bottom: 52px;
}

#dontLose-claro-slider .slick-dots li.slick-active button:before,
#next-week-slider .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

#dontLose-claro-slider .slick-dots li button:before,
#next-week-slider .slick-dots li button:before {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.concert-header-slider .slick-list {
  padding: 0px !important;
}

.concert-slide {
  height: 205px;
  background: #0d1aa0;
}

.concert-header-slider .slick-dots {
  bottom: 40px;
}

.concert-header-slider .slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.75;
}

.concert-header-slider .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.concert-container .slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.75;
}

.concert-container .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.concert-container .slick-dots,
.cinema-slider .slick-dots {
  position: absolute;
  bottom: inherit;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.concert-slide1 {
  background: url("../../../images/concert-channel/header-image.jpeg");
  background-size: cover;
  height: 205px;
}

.cinema-slider {
  padding-bottom: 50px;
  margin-bottom: 0px !important;
}

.large-poster-width {
  width: 50%;
}

/*%poster-basic {
  display: flex;
}

.m-first-poster {
  @extend %poster-basic;
  grid-area: firstPoster;
}

.m-second-poster {
  grid-area: secondPoster;
}

.m-third-poster {
  grid-area: thirdPoster;
}

%section-basic {
  width: 100%;
  margin: auto;
  display: grid;
  display: -moz-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@mixin poster-section($firstRow, $secondRow, $columnGap: null, $rowGap: null) {
  @extend %section-basic;
  grid-template-areas:
    $firstRow
    $secondRow;
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
}

.m-claro-poster-section {
  @include poster-section(
    "firstPoster secondPoster",
    "firstPoster thirdPoster",
    10px,
    10px
  );
}

.m-concert-poster-section {
  @include poster-section(
    "firstPoster secondPoster",
    "firstPoster secondPoster",
    10px,
    10px
  );
}

.small-poster {
  height: $heightSecondColumnPoster;
  position: relative;
}

.second-column-image {
  height: 91%;
}*/
.o-concert-section, .o-tv-section, .o-cinema-section, .o-vision-section, .o-claro-section, .o-sports-section, .o-footer-section {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.concert-channel-tablet {
  display: none;
}

.concert-channel-desktop {
  display: none;
}

.cinema-claro-tablet {
  display: none;
}

.cinema-claro-desktop {
  display: none;
}

.nuestra-vision-tablet {
  display: none;
}

.nuestra-vision-desktop {
  display: none;
}

.claro-canal-tablet {
  display: none;
}

.claro-canal-desktop {
  display: none;
}

.claro-sports-tablet {
  display: none;
}

.claro-sports-desktop {
  display: none;
}

.o-advertising-section {
  margin: 50px auto 55px auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 600px;
}

.advertising-section-tablet {
  display: none;
}

.advertising-section-desktop {
  display: none;
}

/*Canal Claro*/
.today-canal-claro {
  padding-bottom: 28px;
}

.next-week-claro {
  background: #e1261c;
}

.dont-lose-claro {
  background: #262626;
}

.concert-container {
  background: #1f2887;
}

.claro-cinema-content {
  background: #f5dd15;
}

.header {
  width: 100%;
  height: 205px;
  background: #6031ad;
}

.claro-canal-header .header {
  position: relative;
  background: #512a14;
}

.claro-canal-header .header::after {
  background: white;
}

.claro-canal-header .header::after,
.claro-cinema-header .header::after {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 26% 69% 0% 10% / 23% 100% 0% 0%;
  position: absolute;
  top: 87%;
}

.claro-cinema-header .header::after {
  background: #f5dd15;
}

.concert-channel-header .header {
  background: transparent;
}

.claro-cinema-header .header {
  position: relative;
  background: #2dcaab;
}

.hamburguer-menu {
  position: fixed;
  width: 350px;
  max-width: calc(100vw - 50px);
  height: 100%;
  background: #5c1864;
  z-index: 2;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.section-home-footer {
  padding-top: 25px;
  padding-bottom: 40px;
}

.footer-companies-desktop {
  display: none;
}

.terms-conditions-desktop {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*Base*/
  /*Atoms*/
  .margin-ahora-tv {
    margin-bottom: 21px;
  }
  .circle-video {
    display: block;
    width: 70%;
  }
  .header-h1 {
    color: #000000;
    font-size: 50px;
  }
  .menu-responsive {
    width: 25px;
    position: inherit;
    left: 0;
    top: 0%;
    -webkit-transform: inherit;
            transform: inherit;
  }
  .menu-responsive-tablet {
    width: 25px;
  }
  .logo {
    width: 85px;
    display: initial;
    margin-left: 20px;
  }
  .title-tv {
    font-size: 30px;
  }
  .nav-image {
    height: 72px;
  }
  .nav-li {
    text-align: center;
  }
  .border-right {
    border-right: 1px solid #a1a0a0 !important;
    padding-right: 5px;
  }
  .login-item {
    width: 36px;
  }
  .slick-slider .slick-list {
    padding: 0px 0px 0px 0px !important;
  }
  .a-cinema-rectangle,
  .a-sports-rectangle,
  .a-concert-rectangle,
  .a-claro-rectangle,
  .a-vision-rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*-webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;*/
    height: 36px;
  }
  .small-poster .slick-list {
    height: 144px;
  }
  .slick-list {
    height: 320px;
  }
  .poster-title-margin {
    margin: 0px;
  }
  .poster-image {
    height: 284px;
  }
  .small-poster {
    height: 144px;
    position: relative;
  }
  .poster-image-small {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 108px;
  }
  .a-sports-text-poster,
  .a-poster-text-white,
  .a-poster-text-black {
    padding: 0px;
    font-size: 12px;
  }
  .a-concert-channel-title {
    font-size: 32px;
    color: #ffffff;
    padding-bottom: 0%;
    text-align: left;
  }
  .concert-footer-img {
    width: 72px;
  }
  .concert-img-white {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .a-concert-subtitle {
    color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
  }
  .concert-first-subtitle {
    font-size: 16px;
  }
  .concert-second-subtitle {
    font-size: 16px;
  }
  .a-claro-cinema-title,
  .a-our-vision-title,
  .a-claro-channel-title,
  .a-claro-sports-title {
    font-size: 32px;
    padding-bottom: 7px;
    text-align: left;
  }
  .poster-title-sport {
    font-size: 30px;
    text-align: left;
  }
  .a-subtitle {
    text-align: left;
    font-size: 16px;
    padding-bottom: 0%;
  }
  .advertising-image {
    width: 90%;
    display: block;
    margin: 0px auto;
  }
  .advertising-title,
  .advertising-subtitle {
    text-align: left;
  }
  .advertising-title {
    font-size: 50px;
  }
  .advertising-text {
    font-size: 12px;
  }
  .advertising-subtitle {
    font-size: 18px;
    color: #00caf5;
    font-family: "Gotham-Black";
  }
  .footer-title {
    font-size: 30px;
  }
  .social-icon {
    width: 58px;
  }
  .claro-grey-img {
    width: 86px;
  }
  .text-footer-regular {
    font-size: 15px;
    margin-bottom: 29px;
  }
  .text-footer-bold {
    font-size: 15px;
  }
  .transmission-text {
    position: absolute;
    left: 4%;
    top: 10%;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: "Montserrat-SemiBold";
  }
  .footer-img {
    width: 65px;
    height: 60px;
  }
  .small-footer-img {
    width: 90px;
    height: 60px;
  }
  .login {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 1;
    background: rgba(97, 109, 113, 0.7);
    padding: 8px;
    border-radius: 30px;
  }
  .navbar-item {
    font-size: 16px;
  }
  /*Molecules*/
  .menu-tablet {
    display: block;
  }
  .menu {
    display: none;
  }
  .nav-content {
    margin: 0px;
    position: relative;
  }
  .tv-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    max-width: 900px;
    margin: 0 auto 37px auto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .m-home-titles {
    padding-top: 39px;
    padding-bottom: 20px;
  }
  .m-see-more {
    text-align: right;
    margin-bottom: 0px;
  }
  .slick-dots {
    bottom: -55px !important;
  }
  .slick-dots li button:before {
    font-size: 9px !important;
  }
  .social-media {
    margin: 46px auto 65px auto;
  }
  /*Organisms*/
  .menu {
    background: transparent;
    position: inherit;
    width: 100%;
    z-index: 1;
    max-height: 63px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header {
    background: transparent;
    padding: 30px;
    height: auto;
  }
  .header-details {
    margin-top: 60px;
    margin-bottom: 40px;
    display: inherit;
    text-align: left;
  }
  .o-concert-section,
  .o-cinema-section,
  .o-vision-section,
  .o-claro-section,
  .o-sports-section,
  .o-advertising-section,
  .o-tv-section {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .o-concert-section {
    background-color: #3e0a43;
  }
  .concert-channel-mobile {
    display: none;
  }
  .concert-channel-tablet {
    display: block;
  }
  .o-cinema-section {
    background-image: url(../images/home/claro-cinema-background.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
  }
  .cinema-claro-mobile {
    display: none;
  }
  .cinema-claro-tablet {
    display: block;
  }
  .o-vision-section {
    background-color: #d8d8d8;
  }
  .nuestra-vision-tablet {
    display: block;
  }
  .nuestra-vision-mobile {
    display: none;
  }
  .o-claro-section {
    background: #c35353;
  }
  .claro-canal-tablet {
    display: block;
  }
  .claro-canal-mobile {
    display: none;
  }
  .o-sports-section {
    background-image: url(../images/home/claro-sports-background.png);
    background-repeat: no-repeat;
    background-origin: content-box;
  }
  .claro-sports-tablet {
    display: block;
  }
  .claro-sports-mobile {
    display: none;
  }
  .advertising-section-tablet {
    display: block;
  }
  .advertising-section-mobile {
    display: none;
  }
  .margin-bottom-slider {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /*Base*/
  /***  ATOMS  ****/
  .margin-ahora-tv {
    margin-bottom: 21px;
  }
  .title-tv {
    font-size: 30px;
  }
  .nav-image {
    height: 72px;
  }
  .nav-li {
    text-align: center;
  }
  .border-right {
    border-right: 1px solid #a1a0a0 !important;
    padding-right: 5px;
  }
  .login-item {
    width: 36px;
  }
  .slick-slider .slick-list {
    padding: 0px 0px 0px 0px !important;
  }
  .a-cinema-rectangle,
  .a-sports-rectangle,
  .a-concert-rectangle,
  .a-claro-rectangle,
  .a-vision-rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*-webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;*/
    height: 36px;
  }
  .poster-title-margin {
    margin: 0px;
  }
  .small-poster {
    height: 144px;
    position: relative;
  }
  .a-sports-text-poster,
  .a-poster-text-white,
  .a-poster-text-black {
    padding: 0px;
    font-size: 12px;
  }
  .a-concert-channel-title {
    font-size: 32px;
    color: #ffffff;
    padding-bottom: 0%;
    text-align: left;
  }
  .concert-footer-img {
    width: 72px;
  }
  .concert-img-white {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .a-subtitle {
    text-align: left;
    font-size: 16px;
    padding-bottom: 0%;
  }
  .advertising-image {
    width: 90%;
    display: block;
    margin: 0px auto;
  }
  .advertising-title,
  .advertising-subtitle {
    text-align: left;
  }
  .footer-title {
    font-size: 30px;
  }
  .social-icon {
    width: 58px;
  }
  .claro-grey-img {
    width: 86px;
  }
  .text-footer-basic {
    font-size: 15px;
  }
  .text-footer-regular {
    margin-bottom: 8px;
    text-align: left;
  }
  .transmission-text {
    position: absolute;
    left: 4%;
    top: 10%;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: "Montserrat-SemiBold";
  }
  .menu-responsive-tablet {
    display: none;
  }
  /*Footer*/
  .footer-img {
    width: 80px;
    height: 72px;
  }
  .small-footer-img {
    width: 90px;
    height: 60px;
  }
  .login {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 1;
    background: rgba(97, 109, 113, 0.7);
    padding: 8px;
    border-radius: 30px;
  }
  .navbar-item {
    font-size: 16px;
  }
  .logo-footer {
    margin-bottom: 13px;
    text-align: left;
  }
  /***  MOLECULES  ***/
  .menu {
    display: none;
  }
  .menu-tablet {
    display: block;
  }
  .terms-conditions-mobile {
    display: none;
  }
  .nav-content {
    margin: 0px;
    position: relative;
  }
  .tv-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    max-width: 900px;
    margin: 0 auto 37px auto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .m-home-titles {
    padding-top: 39px;
    padding-bottom: 20px;
  }
  .m-see-more {
    text-align: right;
    margin-bottom: 0px;
  }
  .slick-dots li button:before {
    font-size: 9px !important;
  }
  .social-media {
    margin: 46px auto 65px auto;
  }
  /*Organisms*/
  .menu {
    background: transparent;
    position: inherit;
    width: 100%;
    z-index: 1;
    max-height: 63px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header {
    background: transparent;
    padding: 30px;
    height: auto;
  }
  .o-concert-section {
    background-color: #3e0a43;
  }
  .concert-channel-mobile {
    display: none;
  }
  .concert-channel-desktop {
    display: block;
  }
  .o-cinema-section {
    background-image: url(../images/home/claro-cinema-background.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
  }
  .cinema-claro-mobile {
    display: none;
  }
  .cinema-claro-desktop {
    display: block;
  }
  .o-vision-section {
    background-color: #d8d8d8;
  }
  .nuestra-vision-mobile {
    display: none;
  }
  .nuestra-vision-desktop {
    display: block;
  }
  .o-claro-section {
    background: #c35353;
  }
  .claro-canal-mobile {
    display: none;
  }
  .claro-canal-desktop {
    display: block;
  }
  .o-sports-section {
    background-image: url(../images/home/claro-sports-background.png);
    background-repeat: no-repeat;
    background-origin: content-box;
  }
  .claro-sports-mobile {
    display: none;
  }
  .claro-sports-desktop {
    display: block;
  }
  .advertising-section-mobile {
    display: none;
  }
  .advertising-section-desktop {
    display: block;
  }
  .o-concert-section,
  .o-cinema-section,
  .o-vision-section,
  .o-claro-section,
  .o-sports-section,
  .o-advertising-section,
  .o-footer-section,
  .o-tv-section {
    max-width: 100%;
    padding-left: 57px;
    padding-right: 57px;
  }
  .terms-conditions-desktop {
    display: block;
  }
  /*-------------------*/
  .header-details {
    margin-top: 100px;
    margin-bottom: 40px;
    display: inherit;
    text-align: left;
  }
  .menu-responsive {
    display: none;
  }
  .logo {
    margin-left: 0;
    width: 85px;
  }
  .circle-video {
    display: block;
    width: 65%;
    -webkit-clip-path: circle(50% at 70% 17%);
            clip-path: circle(50% at 70% 17%);
  }
  .poster-image {
    height: 355px;
  }
  .poster-image-small {
    height: 135px;
  }
  .a-cinema-rectangle,
  .a-sports-rectangle,
  .a-concert-rectangle,
  .a-claro-rectangle,
  .a-vision-rectangle {
    height: 45px;
  }
  .slick-list {
    height: 400px;
  }
  .small-poster .slick-list {
    height: 180px;
  }
  .slick-dots {
    bottom: -73px !important;
  }
  .margin-bottom-slider {
    margin-bottom: 90px;
  }
  .a-concert-subtitle {
    color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    font-size: 25px;
  }
  .a-claro-cinema-title,
  .a-our-vision-title,
  .a-claro-channel-title,
  .a-claro-sports-title,
  .a-concert-channel-title {
    font-size: 46px;
    padding-bottom: 7px;
    text-align: left;
  }
  .header-h1 {
    color: #000000;
    font-size: 72px;
  }
  .advertising-title {
    font-size: 68px;
  }
  .advertising-subtitle {
    font-size: 25px;
    color: #00caf5;
    font-family: "Gotham-Black";
  }
  .advertising-text {
    font-size: 14px;
  }
  .poster-title-sport {
    font-size: 40px;
    text-align: left;
  }
  .claro-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
  .concert-first-subtitle {
    font-size: 25px;
  }
  .concert-second-subtitle {
    font-size: 19px;
  }
  .footer-companies-desktop {
    margin: 60px 0;
  }
  .footer-companies {
    display: none;
  }
  .footer-companies-desktop {
    display: block;
  }
  .aviso-border {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  /*Base*/
  /***  ATOMS  ****/
  .margin-ahora-tv {
    margin-bottom: 21px;
  }
  .title-tv {
    font-size: 30px;
  }
  .nav-image {
    height: 72px;
  }
  .nav-li {
    text-align: center;
  }
  .border-right {
    border-right: 1px solid #a1a0a0 !important;
    padding-right: 5px;
  }
  .login-item {
    width: 36px;
  }
  .slick-slider .slick-list {
    padding: 0px 0px 0px 0px !important;
  }
  .a-cinema-rectangle,
  .a-sports-rectangle,
  .a-concert-rectangle,
  .a-claro-rectangle,
  .a-vision-rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*-webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;*/
    height: 36px;
  }
  .poster-title-margin {
    margin: 10px;
  }
  .small-poster {
    height: 144px;
    position: relative;
  }
  .a-sports-text-poster,
  .a-poster-text-white,
  .a-poster-text-black {
    padding: 0px;
    font-size: 12px;
  }
  .a-concert-channel-title {
    font-size: 32px;
    color: #ffffff;
    padding-bottom: 0%;
    text-align: left;
  }
  .concert-footer-img {
    width: 120px;
  }
  .concert-img-white {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .a-subtitle {
    text-align: left;
    font-size: 16px;
    padding-bottom: 0%;
  }
  .advertising-image {
    width: 90%;
    display: block;
    margin: 0px auto;
  }
  .advertising-title,
  .advertising-subtitle {
    text-align: left;
  }
  .footer-title {
    font-size: 30px;
  }
  .social-icon {
    width: 58px;
  }
  .claro-grey-img {
    width: 86px;
  }
  .text-footer-basic {
    font-size: 15px;
  }
  .text-footer-regular {
    font-size: 15px;
    margin-bottom: 8px;
    text-align: left;
  }
  .transmission-text {
    position: absolute;
    left: 4%;
    top: 10%;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: "Montserrat-SemiBold";
  }
  .menu-responsive-tablet {
    display: none;
  }
  /*Footer*/
  .footer-img {
    width: 80px;
    height: 72px;
  }
  .small-footer-img {
    width: 90px;
    height: 60px;
  }
  .login {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 1;
    background: rgba(97, 109, 113, 0.7);
    padding: 8px;
    border-radius: 30px;
  }
  .navbar-item {
    font-size: 16px;
  }
  .logo-footer {
    margin-bottom: 13px;
    text-align: left;
  }
  /***  MOLECULES  ***/
  .menu {
    display: none;
  }
  .menu-tablet {
    display: block;
  }
  .terms-conditions-mobile {
    display: none;
  }
  .terms-conditions-desktop {
    display: block;
  }
  .footer-companies-desktop {
    display: block;
  }
  .nav-content {
    margin: 0px;
    position: relative;
  }
  .tv-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    max-width: 900px;
    margin: 0 auto 37px auto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .m-home-titles {
    padding-top: 39px;
    padding-bottom: 20px;
  }
  .m-see-more {
    text-align: right;
    margin-bottom: 0px;
  }
  .slick-dots li button:before {
    font-size: 9px !important;
  }
  .social-media {
    margin: 46px auto 65px auto;
  }
  /*Organisms*/
  .menu {
    background: transparent;
    position: inherit;
    width: 100%;
    z-index: 1;
    max-height: 63px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header {
    background: transparent;
    padding: 30px;
    height: auto;
  }
  .o-concert-section {
    background-color: #3e0a43;
  }
  .concert-channel-mobile {
    display: none;
  }
  .concert-channel-desktop {
    display: block;
  }
  .o-cinema-section {
    background-image: url(../images/home/claro-cinema-background.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
  }
  .cinema-claro-mobile {
    display: none;
  }
  .cinema-claro-desktop {
    display: block;
  }
  .o-vision-section {
    background-color: #d8d8d8;
  }
  .nuestra-vision-mobile {
    display: none;
  }
  .nuestra-vision-desktop {
    display: block;
  }
  .o-claro-section {
    background: #c35353;
  }
  .claro-canal-mobile {
    display: none;
  }
  .claro-canal-desktop {
    display: block;
  }
  .o-sports-section {
    background-image: url(../images/home/claro-sports-background.png);
    background-repeat: no-repeat;
    background-origin: content-box;
  }
  .claro-sports-mobile {
    display: none;
  }
  .claro-sports-desktop {
    display: block;
  }
  .advertising-section-mobile {
    display: none;
  }
  .advertising-section-desktop {
    display: block;
  }
  .o-concert-section,
  .o-cinema-section,
  .o-vision-section,
  .o-claro-section,
  .o-sports-section,
  .o-advertising-section,
  .o-footer-section,
  .o-tv-section {
    max-width: 100%;
    padding-left: 57px;
    padding-right: 57px;
  }
  /*-------------------*/
  .header-details {
    margin-top: 100px;
    margin-bottom: 10%;
    display: inherit;
    text-align: left;
  }
  .menu-responsive {
    display: none;
  }
  .logo {
    margin-left: 0;
    width: 85px;
  }
  .circle-video {
    display: block;
    width: 65%;
    -webkit-clip-path: circle(50% at 70% 10%);
            clip-path: circle(50% at 70% 10%);
  }
  .poster-image {
    height: 355px;
  }
  .poster-image-small {
    height: 135px;
  }
  .a-cinema-rectangle,
  .a-sports-rectangle,
  .a-concert-rectangle,
  .a-claro-rectangle,
  .a-vision-rectangle {
    height: 45px;
  }
  .slick-list {
    height: 400px;
  }
  .small-poster .slick-list {
    height: 180px;
  }
  .slick-dots {
    bottom: -73px !important;
  }
  .margin-bottom-slider {
    margin-bottom: 90px;
  }
  .a-concert-subtitle {
    color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    font-size: 25px;
  }
  .a-claro-cinema-title,
  .a-our-vision-title,
  .a-claro-channel-title,
  .a-claro-sports-title,
  .a-concert-channel-title {
    font-size: 46px;
    padding-bottom: 7px;
    text-align: left;
  }
  .header-h1 {
    color: #000000;
    font-size: 72px;
  }
  .advertising-title {
    font-size: 68px;
  }
  .advertising-subtitle {
    font-size: 25px;
    color: #00caf5;
    font-family: "Gotham-Black";
  }
  .advertising-text {
    font-size: 14px;
  }
  .poster-title-sport {
    font-size: 40px;
    text-align: left;
  }
  .claro-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
  .concert-first-subtitle {
    font-size: 25px;
  }
  .concert-second-subtitle {
    font-size: 19px;
  }
  .footer-companies-desktop {
    margin: 60px 0;
  }
  .footer-companies {
    display: none;
  }
  .footer-companies-desktop {
    display: block;
  }
  .aviso-border {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=style.css.map */