@charset "UTF-8";
.bx-wrapper {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 50px !important;
  max-width: 700px !important;
  width: 100% !important;
  min-width: 290px !important;
  margin: 0px auto !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d8d8d8 !important;
  text-indent: -9999px;
  display: block;
  width: 5px !important;
  height: 5px !important;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #7d7979 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0rem !important;
  font-weight: 500;
  line-height: 1.2;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.columnGap {
  padding-right: 12px !important;
}

.poster-pad-b {
  padding-bottom: 6px;
}

.poster-pad-t {
  padding-top: 6px;
}

.margin-top-50 {
  margin-top: 50px;
}

.paisescentrar {
  padding-left: 120px;
}

.nav-item-margin {
  margin-right: 24px;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url(../../../fonts/Gotham-Medium.ttf);
}

@font-face {
  font-family: "Gotham-Black";
  src: url(../../../fonts/Gotham-Black.ttf);
}

@font-face {
  font-family: "Gotham-Book";
  src: url(../../../fonts/Gotham-Book.ttf);
}

@font-face {
  font-family: "Gotham-Bold";
  src: url(../../../fonts/Gotham-Bold.ttf);
}

@font-face {
  font-family: "Gotham-Light";
  src: url(../../../fonts/Gotham-Light.ttf);
}

@font-face {
  font-family: "Gotham-BoldItalic";
  src: url(../../../fonts/Gotham-BoldItalic.ttf);
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../../../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../../../fonts/Montserrat-SemiBold.ttf);
}

/* Tamaño de textos */
/*Tipografías*/
.a-our-vision-title, .a-claro-channel-title, .a-concert-channel-title, .a-claro-channel-subtitle-bold, .a-claro-channel-subtitle {
  text-align: center;
}

.a-sports-text-poster, .a-concert-text {
  font-family: "Gotham-Medium";
}

.a-our-vision-title {
  font-size: 24px;
  color: #eb0d6c;
  font-family: "Gotham-Black";
}

.a-sports-text-poster {
  font-size: 8px;
  color: #000000;
}

.a-programming-text {
  color: #ffffff;
  font-family: "Gotham-Medium";
  font-size: 10px;
}

.a-claro-channel-title {
  font-size: 24px;
  color: #262626;
  font-family: "Gotham-Black";
  padding-bottom: 2%;
}

.a-concert-channel-title {
  font-size: 24px;
  color: #0068ff;
  font-family: "Gotham-Black";
  padding-bottom: 2%;
}

.a-claro-channel-subtitle-bold {
  font-size: 12px;
  color: #262626;
  font-family: "Gotham-Black";
}

.a-claro-channel-subtitle {
  font-size: 12px;
  color: #262626;
  font-family: "Gotham-Light";
}

.a-concert-text {
  font-size: 8px;
  color: #ffffff;
  margin: 0;
}

.name_paises {
  font-family: "Montserrat-Light";
  font-size: 18px;
  color: #606060;
}

.pie_paises {
  font-family: "Montserrat-Regular";
  font-size: 10px;
  text-align: center;
  color: #666464;
}

.select_paises {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  text-align: center;
  color: #666464;
  text-align: center;
  margin: 26px auto 50px auto;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .select_paises {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .pie_paises {
    font-size: 12px;
  }
}

/* Estructura Básica de los botones */
.btn-red, .btn-blue, .btn-pink {
  color: #ffffff;
  font-size: 12px;
  padding: 3% 8%;
  border-radius: 50px;
  border: none;
  outline: none !important;
}

.btn-red {
  background: #ff0007;
}

.btn-blue {
  background: #00caf5;
}

.btn-pink {
  background: #ff00d2;
}

.a-cinema-rectangle, .a-sports-rectangle, .a-concert-rectangle, .a-claro-rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-cinema-rectangle {
  background: #01cad5;
  width: 100%;
  height: 20%;
}

.a-sports-rectangle {
  background: #f3e626;
  width: 100%;
  height: 20%;
}

.a-concert-rectangle {
  background: #0068ff;
  width: 100%;
  height: 20%;
}

.a-claro-rectangle {
  background: #e1261c;
  width: 100%;
  height: 9%;
}

.poster-image {
  width: 100%;
}

.paises-image {
  width: 100%;
  max-width: 125px;
  min-width: 60px;
  max-height: 75px;
  min-height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 24px auto 38px auto;
}

.Icon_paises {
  margin-right: 14px;
  vertical-align: middle;
}

.espacio {
  margin-bottom: 20px;
}

.fondo {
  background: #2c3e50;
}

.fondopaises {
  background-color: rgba(255, 255, 255, 0.85);
  width: 95%;
  height: 100%;
  display: block;
  padding: 30px;
  border-radius: 8px;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .paises-image {
    width: 16%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .paises-image {
    width: 20%;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .paises-image {
    width: 25%;
  }
}

.logo {
  width: 52px;
  display: block;
  margin: auto;
}

.menu-responsive {
  width: 32px;
  position: absolute;
  left: 0;
  top: 0;
}

.login {
  position: absolute;
  right: 0;
  top: 0;
}

.login-item {
  width: 32px;
}

.poster-image-left {
  height: 100%;
}

.poster-image-right {
  height: 91%;
}

.poster-image-small {
  height: 80%;
}

hr {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  hr {
    display: block;
  }
}

.m-first-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-first-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: firstPoster;
}

.m-second-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: secondPoster;
}

.m-third-poster {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: thirdPoster;
}

.m-claro-poster-section, .m-concert-poster-section {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  display: -moz-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.m-claro-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster thirdPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.m-concert-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster secondPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.height-second-poster {
  height: 50%;
}

.slider-column {
  height: 100%;
}

.second-column-image {
  height: 91%;
}

.m-see-more {
  text-align: center;
}

.menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  position: fixed;
  width: 100%;
  z-index: 1;
  max-height: 63px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.nav-content {
  margin: 4%;
  position: relative;
}

.m-home-titles {
  padding-bottom: 3%;
}

.m-first-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-first-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: firstPoster;
}

.m-second-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: secondPoster;
}

.m-third-poster {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: thirdPoster;
}

.m-claro-poster-section, .m-concert-poster-section {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  display: -moz-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.m-claro-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster thirdPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.m-concert-poster-section {
      grid-template-areas: "firstPoster secondPoster" "firstPoster secondPoster";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.height-second-poster {
  height: 50%;
}

.slider-column {
  height: 100%;
}

.second-column-image {
  height: 91%;
}

.o-home-section {
  margin-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  width: 100%;
  height: 205px;
  background: #6031ad;
}

.hamburguer-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  background: #520da0;
  z-index: 2;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*# sourceMappingURL=style.css.map */