@import "./components/base/reset";
@import "./components/atoms/spacings";
@import "./components/atoms/texts";
@import "./components/atoms/buttons";
@import "./components/atoms/boxes";
@import "./components/atoms/img";
@import "./components/atoms/separator";
@import "./components/atoms/inputs";
@import "./components/molecules/posters";
@import "./components/molecules/see-more";
@import "./components/molecules/nav";
@import "./components/molecules/lists";
@import "./components/molecules/titles-section";
@import "./components/organisms/section-poster";
@import "./components/organisms/header";
@import "./components/organisms/menu";

@media only screen and (min-width: 768px) {
  .menu {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
    max-height: 63px;
    transition: all 0.5s ease 0s;
  }

  .nav-content {
    margin: 16px;
    position: relative;
  }
}
