@import "../settings/color";

.a-button-basic {
  padding: 12px 24px;
  border-radius: 10px;
}

.a-button-blue {
  background: $coralBlue;
  border-color: $coralBlue;
}

.a-button-save {
  margin-bottom: 17px;
}

.a-button-black {
  border-radius: 19px;
  padding: 10px;
  background: $blackText;
  border-color: $blackText;
  cursor: pointer;
}

.a-button-edition-video {
  position: absolute;
  right: 3%;
  top: 3%;
}

.btn-red,
.btn-pink {
  margin-bottom: 0px;
}
