.a-prev-image {
  height: 50px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid $lightGrey;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.3s;
}

.a-prev-image:nth-child(3) {
  border-right: none;
}

.a-prev-image:hover {
  opacity: 1;
}

.a-pencil-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.arrow-next {
  transform: translate(-16px, -50%);
  right: 6px;
}

.arrow-prev {
  left: 6px;
  transform: translate(16px, -50%);
}
