@import "../settings/config";

.mt-xl-6 {
  margin-top: #{$space * 6};
}

.mb-xl-6 {
  margin-bottom: #{$space * 6};
}

.mr-xl-6 {
  margin-right: #{$space * 6};
}

.ml-xl-6 {
  margin-left: #{$space * 6};
}

.pt-xl-6 {
  padding-top: #{$space * 6};
}

.pr-xl-6 {
  padding-right: #{$space * 6};
}

.pl-xl-6 {
  padding-left: #{$space * 6};
}

.pb-xl-6 {
  padding-bottom: #{$space * 6};
}
