@font-face {
  font-family: "Montserrat-Light";
  src: url(../../../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../../../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../../../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Black";
  src: url(../../../fonts/Montserrat-Black.ttf);
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .o-channels-container {
    display: block;
  }
  .a-button-black {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .a-text-black-bold {
    color: #161515;
    font-family: "Montserrat-Bold";
  }
  .a-text-black-light {
    color: #161515;
    font-family: "Montserrat-Light";
  }
  .a-text-lightgray-light {
    color: #757474;
    font-family: "Montserrat-Light";
  }
  .a-text-white-regular {
    color: #ffffff;
    font-family: "Montserrat-Regular";
  }
  .a-text-black-regular {
    color: #161515;
    font-family: "Montserrat-Regular";
  }
  .a-prev-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 24px;
    text-align: center;
  }
  .a-text-white {
    color: #ffffff;
    font-family: "Montserrat-SemiBold";
  }
  .a-edition-title {
    font-size: 24px;
    margin-bottom: 17px;
  }
  .a-claro-channel-title,
  .a-claro-cinema-title,
  .a-our-vision-title,
  .a-claro-sports-title,
  .a-concert-channel-title {
    margin-top: 50px;
  }
  .horario-text {
    margin-bottom: 0;
  }
  .a-claro-channel-title,
  .a-claro-cinema-title,
  .a-our-vision-title,
  .a-claro-sports-title,
  .a-concert-channel-title {
    margin-top: 0px;
    padding: 0;
  }
  .terms-conditions-desktop .aviso-priv-blue:nth-child(1) {
    margin-right: 0px;
  }
  .other-text-regular,
  .o-footer-section .aviso-priv-blue {
    margin-bottom: 0px;
  }
  .a-header-section-name {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .a-header-section-name::before {
    content: "";
    height: 10px;
    width: 10px;
    background: red;
    position: absolute;
    border-radius: 20px;
  }
  .a-name-user,
  .a-role-text {
    font-size: 18px;
  }
  .a-prev-image {
    height: 50px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #d8d8d8;
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .a-prev-image:nth-child(3) {
    border-right: none;
  }
  .a-prev-image:hover {
    opacity: 1;
  }
  .a-pencil-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
  .arrow-next {
    -webkit-transform: translate(-16px, -50%);
            transform: translate(-16px, -50%);
    right: 6px;
  }
  .arrow-prev {
    left: 6px;
    -webkit-transform: translate(16px, -50%);
            transform: translate(16px, -50%);
  }
  .a-button-basic {
    padding: 12px 24px;
    border-radius: 10px;
  }
  .a-button-blue {
    background: #40c7e9;
    border: #40c7e9;
  }
  .a-button-save {
    margin-bottom: 17px;
  }
  .a-button-black {
    border-radius: 19px;
    padding: 10px;
    background: #161515;
    border: #161515;
    cursor: pointer;
  }
  .a-button-edition-video {
    position: absolute;
    right: 3%;
    top: 3%;
  }
  .btn-red,
  .btn-pink {
    margin-bottom: 0px;
  }
  .a-button-gray {
    background: #eeeeee;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid #979797;
  }
  .a-button-white {
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid #979797;
  }
  .border-t-gray {
    border-top: 3px solid #817e7e;
  }
  .border-b-gray {
    border-bottom: 3px solid #817e7e;
  }
  .border-l-gray {
    border-left: 3px solid #817e7e;
  }
  .border-r-gray {
    border-right: 3px solid #817e7e;
  }
  .border-t-white {
    border-top: 3px solid #ffffff;
  }
  .border-b-white {
    border-bottom: 3px solid #ffffff;
  }
  .border-l-white {
    border-left: 3px solid #ffffff;
  }
  .border-r-white {
    border-right: 3px solid #ffffff;
  }
  .border-b-lightgray {
    border-bottom: 3px solid #d8d8d8;
  }
  .mt-xl-6 {
    margin-top: 96px;
  }
  .m-form-login {
    background: lightgray;
    border-radius: 20px;
    max-width: 580px;
  }
  .o-channels-container {
    display: none;
    width: 95%;
    margin: 0 auto;
  }
  .our-channels {
    margin: 0;
  }
  iframe {
    position: static !important;
    width: 100%;
    margin: auto;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0px 6px 14px 1px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 6px 14px 1px rgba(0, 0, 0, 0.75);
  }
}
/*# sourceMappingURL=style.css.map */